Source: abcl
Section: java
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://common-lisp.net/project/armedbear

Package: abcl
Architecture: all
Depends: ${misc:Depends},
         openjdk-6-jre | sun-java6-jre,
         fontconfig
Description: Common Lisp on the JVM
 ABCL is a full implementation of the Common Lisp
 language featuring both an interpreter and a compiler,
 running in the JVM. Originally started to be a scripting
 language for the J editor, it now supports JSR-233
 (Java scripting API): it can be a scripting engine
 in any Java application. Additionally, it can be
 used to implement (parts of) the application using
 Java to Lisp integration APIs. 
