Source: xnviewmp
Section: graphics
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               libfreetype6,
               libxrender1,
               libgstreamer0.10-0,
               libxext6,
               libsm6,
               libfontconfig1,
               libgstreamer-plugins-base0.10-0,
               libc6 [i386],
               libc6-i386 [amd64],
               libstdc++6 [i386],
               libilmbase12,
               zlib1g [i386],
               libqt4-opengl,
               imagemagick,
               chrpath,
               libpulse-dev,
               libasound-dev,
               libegl1-mesa,
               libgtk2.0-0,
               libxslt1.1,
               libphonon4
Standards-Version: 3.9.6
Homepage: http://www.xnview.com

Package: xnviewmp
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         xnviewmp-data (= ${source:Version})
Description: Gratis software to view, organise, convert graphics
 XnView is a free software to view, organise,
 convert graphics and photos files or
 to create slide show, contact sheet, HTML pages.

Package: xnviewmp-data
Architecture: all
Depends: ${misc:Depends},
         libimage-exiftool-perl
Description: Gratis software to view, organise, convert graphics (data package)
 XnView is a free software to view, organise,
 convert graphics and photos files or
 to create slide show, contact sheet, HTML pages.
 .
 (This package contains the data files).
