#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_clean:
	rm -rf XnView XnViewMP converted_icons

override_dh_auto_build:
ifeq ($(DEB_BUILD_ARCH), amd64)
	tar xJf XnViewMP-linux-x64.tar.xz
else
	tar xJf XnViewMP-linux.tar.xz
endif 
	mv XnViewMP XnView
	chrpath -d XnView/Plugins/IlmImf.so
	chrpath -d XnView/lib/codecs/libqcncodecs.so
	chrpath -d XnView/lib/codecs/libqjpcodecs.so
	chrpath -d XnView/lib/codecs/libqkrcodecs.so
	chrpath -d XnView/lib/codecs/libqtwcodecs.so
	chrpath -d XnView/lib/imageformats/libqgif.so
	chrpath -d XnView/lib/imageformats/libqico.so
	chrpath -d XnView/lib/imageformats/libqjpeg.so
	chrpath -d XnView/lib/imageformats/libqmng.so
	chrpath -d XnView/lib/imageformats/libqsvg.so
	chrpath -d XnView/lib/imageformats/libqtga.so
	chrpath -d XnView/lib/imageformats/libqtiff.so
	chrpath -d XnView/lib/libQtCore.so.4.8.5
	chrpath -d XnView/lib/libQtDBus.so.4.8.5
	chrpath -d XnView/lib/libQtGui.so.4.8.5
	chrpath -d XnView/lib/libQtNetwork.so.4.8.5
	chrpath -d XnView/lib/libQtSvg.so.4.8.5
	chrpath -d XnView/lib/libQtWebKit.so.4.9.4
	chrpath -d XnView/lib/libQtXml.so.4.8.5
	chrpath -d XnView/lib/libphonon.so.4
	chrpath -d XnView/lib/phonon_backend/libphonon_gstreamer.so

	chrpath -d XnView/XnView

	chmod a-x XnView/*.png

	debian/make-icons.sh XnView/xnview.png
	debian/make-icons.sh XnView/xnview_2.png

override_dh_install:
	dh_install
	rm -f  debian/xnviewmp-data/usr/share/xnviewmp/license.txt
	rm -f  debian/xnviewmp-data/usr/share/xnviewmp/WhatsNew.txt
	rm -f  debian/xnviewmp-data/usr/share/xnviewmp/UI/style_sheet_win.qss
	rm -f  debian/xnviewmp-data/usr/share/xnviewmp/UI/style_sheet_mac.qss
	rm -f  debian/xnviewmp-data/usr/share/xnviewmp/AddOn/exiftool
	rm -rf debian/xnviewmp-data/usr/share/xnviewmp/AddOn/lib/File
	rm -rf debian/xnviewmp-data/usr/share/xnviewmp/AddOn/lib/Image

	[ ! -d debian/xnviewmp-data ] || find debian/xnviewmp-data -type d -empty -delete
	find debian/xnviewmp -type d -empty -delete

override_dh_installchangelogs:
	dh_installchangelogs XnView/WhatsNew.txt

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/xnviewmp/usr/lib/xnviewmp/lib -Xlibqjpeg.so

override_dh_makeshlibs:
	# no true shared libraries
