#!/usr/bin/make -f
PKD = $(abspath $(dir $(MAKEFILE_LIST)))
PKG = $(shell dpkg-parsechangelog -l$(PKD)/changelog -SSource)
VER = $(shell dpkg-parsechangelog -l$(PKD)/changelog -SVersion | cut -d- -f1)
%:
	dh $@

override_dh_auto_clean:
	rm -rf XnView XnViewMP converted_icons

override_dh_auto_build:
ifeq ($(DEB_BUILD_ARCH), amd64)
	tar xzf XnViewMP-linux-x64.tgz
else
	tar xzf XnViewMP-linux.tgz
endif
	cd XnView/lib && find . -type f -iname "*.so.*" -execdir chrpath -d {} \;
	cd XnView/lib/printsupport && find . -type f -iname "*.so" -execdir chrpath -d {} \;
	cd XnView/lib/platforms && find . -type f -iname "*.so" -execdir chrpath -d {} \;
	cd XnView/lib/audio && find . -type f -iname "*.so" -execdir chrpath -d {} \;
	cd XnView/lib/sensors && find . -type f -iname "*.so" -execdir chrpath -d {} \;
	cd XnView/lib/platformthemes && find . -type f -iname "*.so" -execdir chrpath -d {} \;
	cd XnView/lib/generic && find . -type f -iname "*.so" -execdir chrpath -d {} \;
	cd XnView/lib/imageformats && find . -type f -iname "*.so" -execdir chrpath -d {} \;
	cd XnView/Plugins && find . -type f -iname "*.so" -execdir chrpath -d {} \;

	chmod -x XnView/UI/icons-48/*.png

	chrpath -d XnView/XnView

	chmod a-x XnView/*.png

	debian/make-icons.sh XnView/xnview.png
	debian/make-icons.sh XnView/xnview_2.png

override_dh_install:
	dh_install
	rm -f  debian/xnviewmp-data/usr/share/xnviewmp/license.txt
	rm -f  debian/xnviewmp-data/usr/share/xnviewmp/WhatsNew.txt
	rm -f  debian/xnviewmp-data/usr/share/xnviewmp/UI/style_sheet_win.qss
	rm -f  debian/xnviewmp-data/usr/share/xnviewmp/UI/style_sheet_mac.qss
	rm -f  debian/xnviewmp-data/usr/share/xnviewmp/AddOn/exiftool
	rm -rf debian/xnviewmp-data/usr/share/xnviewmp/AddOn/lib/File
	rm -rf debian/xnviewmp-data/usr/share/xnviewmp/AddOn/lib/Image

	[ ! -d debian/xnviewmp-data ] || find debian/xnviewmp-data -type d -empty -delete
	find debian/xnviewmp -type d -empty -delete

override_dh_installchangelogs:
	dh_installchangelogs XnView/WhatsNew.txt

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/xnviewmp/usr/lib/xnviewmp/lib -Xlibqjpeg.so

override_dh_makeshlibs:
	# no true shared libraries

## http://wiki.debian.org/onlyjob/get-orig-source
.PHONY: get-orig-source
get-orig-source: $(PKG)_$(VER).orig.tar.xz $(info I: $(PKG)_$(VER))
	@

$(PKG)_$(VER).orig.tar.xz: $(info I: $(PKG)_$(VER))
	$(if $(wildcard $(PKG)-$(VER)),$(error $(PKG)-$(VER) exist, aborting..))
	@echo "# Downloading..."
	(mkdir $(PKG)-$(VER) && cd $(PKG)-$(VER) && wget http://download.xnview.com/XnViewMP-linux.tgz && wget http://download.xnview.com/XnViewMP-linux-x64.tgz ) \
	|| $(RM) -r $(PKG)-$(VER)
	@echo "# Packing..."
	find -L "$(PKG)-$(VER)" -xdev -type f -print | LC_ALL=C sort \
	| XZ_OPT="-6v" tar -caf "$(PKG)_$(VER).orig.tar.xz" -T- --owner=root --group=root --mode=a+rX \
	&& $(RM) -r "$(PKG)-$(VER)"
