Source: bashare
Section: net
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: debhelper (>= 9),
               gambas3-dev (>= 1.9.48),
               gambas3-gb-gui (>= 1.9.48),
               gambas3-gb-form (>= 1.90.1),
               gambas3-gb-desktop (>= 1.9.48),
               gambas3-gb-net (>= 1.9.48),
               gambas3-gb-net-curl (>= 1.9.48),
               gambas3-gb-settings (>= 1.9.48),
               dh-autoreconf
Standards-Version: 3.9.3
Homepage: https://launchpad.net/bashare

Package: bashare
Architecture: all
Depends: ${misc:Depends},
         gambas3-runtime (>= 1.9.48),
         gambas3-gb-gui (>= 1.9.48),
         gambas3-gb-form (>= 1.90.1),
         gambas3-gb-desktop (>= 1.9.48),
         gambas3-gb-net (>= 1.9.48),
         gambas3-gb-net-curl (>= 1.9.48),
         gambas3-gb-settings (>= 1.9.48)
Recommends: miniupnpc
Description: Helps you share files with your friends
 BaShare (Basic Share) is a very simply and user-friendly
 file sharing tool over the Internet and private LAN too.
 .
 Basically BaShare is a http server with a graphical user
 interface (GUI). Select a file, give the link to your friends
 and they will be able to download the file from you speedily
 (or not, as you wish :-) ) BaShare is very useful during
 chat sessions!
