#!/usr/bin/make -f
%:
	dh $@ --with autoreconf

override_dh_auto_install:
	dh_auto_install
	# Add here commands to install the package into debian/bashare.
	cp BaShare/BaShare.gambas $(CURDIR)/debian/bashare/usr/bin/
	cp BaShare/images/bashare.png $(CURDIR)/debian/bashare/usr/share/pixmaps/
	cp debian/bashare.desktop $(CURDIR)/debian/bashare/usr/share/applications/
