Source: yagf
Section: graphics
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: debhelper (>= 9),
               cmake,
               libqt4-dev,
               libaspell-dev,
               aspell
Standards-Version: 3.9.3
Homepage: http://symmetrica.net/cuneiform-linux/yagf-en.html

Package: yagf
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         cuneiform,
         aspell
Recommends: xsane
Description: Yet Another Graphic Front-end for Cuneiform
 YAGF is a graphical front-end for cuneiform OCR tool.
 With YAGF you can open already scanned image files or obtain new images 
 via XSane (scanning results are automatically passed to YAGF).
 Once you have a scanned image you can prepare it for recognition, 
 select particular image areas for recognition, 
 set the recognition language and so no.
 Recognized text is displayed in a editor window where it can be corrected, 
 saved to disk or copied to clipboard.  
