Source: tvpvrd
Section: video
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               autotools-dev,
               libcxxtools-dev,
               libpcre3-dev,
               linux-libc-dev,
               libxml2-dev,
               libreadline6-dev,
               chrpath
Standards-Version: 3.9.5
Homepage: http://tvpvrd.sourceforge.net/

Package: tvpvrd
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libav-tools
Description: TV broadcast scheduler
 A Unix server/daemon to make scheduled recordings of TV broadcasts
 using one or multiple Video capture cards with optional
 automatic transcoding (using ffmpeg)
