#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/gnome.mk

DEB_CONFIGURE_EXTRA_FLAGS += --disable-rpath
DEB_INSTALL_MANPAGES_gnaural = debian/gnaural.1x

install/gnaural::
	mv $(DEB_DESTDIR)/usr/share/gnaural/pixmaps/gnaural-icon.* \
		$(DEB_DESTDIR)/usr/share/pixmaps/
	rmdir --ignore-fail-on-non-empty -p $(DEB_DESTDIR)/usr/share/gnaural/pixmaps/
