#!/usr/bin/make -f

export DH_VERBOSE=1

DEB_CONFIGURE_USER_FLAGS := \
    --disable-static \
    --program-prefix=elektra- \
    --enable-iconv \
    --disable-rpath \
    --with-default-backend \
    --with-default-dbackend \
    --includedir=/usr/include/elektra \
    --with-docbook=/usr/share/xml/docbook/stylesheet/nwalsh \
    --with-develdocdir=/usr/share/doc/elektra-dev \
    $(NULL)

DH_ALWAYS_EXCLUDE := CVS:.svn
DEB_CONFIGURE_SCRIPT_ENV += LDFLAGS="-Wl,--as-needed"

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

binary-install/elektra::
	# Clear *_static
	rm -rf debian/elektra/usr/bin/*_static

