#!/usr/bin/make -f

override_dh_auto_install:

override_dh_auto_build:
	[ -d debian/addons ] || (cd debian && tar xzf addons.tar.gz)

override_dh_auto_clean:
	rm -rf debian/addons debian/addons.tar.gz

override_dh_auto_configure:
	cd debian && uudecode addons.tar.gz.uue
%:
	dh --with python-support $@
