Source: entangle
Section: graphics
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: debhelper (>= 9),
               libglib2.0-dev,
               libgdk-pixbuf2.0-dev,
               libgphoto2-2-dev,
               libgexiv2-dev,
               libgudev-1.0-dev,
               libpeas-dev,
               liblcms1-dev,
               libgtk-3-dev,
               libgirepository1.0-dev,
               libglade2-dev,
               libdbus-glib-1-dev,
               libffi-dev,
               gobject-introspection,
               libraw-dev
Standards-Version: 3.9.4
Homepage: http://entangle-photo.org

Package: entangle
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Graphical interface for "tethered shooting"
 Entangle is Open Source software licensed under the GNU GPL v3+. It is built
 on top of libgphoto using GTK-3 for its interface. It is fully colour
 managed, auto-detecting system monitor profile and applying the necessary
 transforms when displaying images.
