# KDE Config File
[Desktop Entry]
Encoding=UTF-8
MimeType=application/x-freemind
Icon=FreeMindWindowIcon
Comment=FreeMind Map
Comment[cs]=FreeMind Mapa
Comment[de]=FreeMind Map
Comment[dk]=FreeMind Map
Comment[es]=FreeMind Mapa
Comment[fr]=FreeMind Carte Mentale
Comment[hu]=FreeMind Térkép
Comment[it]=FreeMind Mappa
Comment[ja]=FreeMind マップ
Comment[kr]=FreeMind 맵
Comment[lt]=FreeMind Žemėlapis
Comment[nl]=FreeMind Map
Comment[no]=FreeMind Map
Comment[pl]=FreeMind Mapa
Comment[pt]=FreeMind Mapa
Comment[pt]=FreeMind Mapa
Comment[ru]=FreeMind Ассоциативная арта
Comment[sl]=FreeMind Miselni vzorec
Comment[zh_CN]=FreeMind 思维导图
Comment[zh]=FreeMind 心智圖
Type=MimeType
Patterns=*.mm
X-KDE-AutoEmbed=false
[Property::X-KDE-NativeExtension]
Type=QString
Value=.mm
