Source: luminance
Section: graphics
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               cmake,
               qtbase5-dev,
               libtiff5-dev,
               libopenexr-dev,
               libexiv2-dev,
               libgsl0-dev,
               libfftw3-dev,
               libqt5webkit5-dev,
               libraw-dev,
               libpng12-dev,
               libboost-dev,
               libcfitsio3-dev,
               libccfits-dev,
               qt5-default,
               qtquick1-5-dev,
               qtscript5-dev,
               qtdeclarative5-dev,
               qttools5-dev,
               qttools5-dev-tools,
               libboost-program-options-dev
Standards-Version: 3.9.5
Homepage: http://qtpfsgui.sourceforge.net/

Package: luminance
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Tool for HDR imaging
 Luminance is a graphical user interface
 (based on trolltech's Qt4) that provides a
 workflow for HDR imaging.
