#!/usr/bin/make -f
%:
	dh $@ --builddirectory=buildd

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=RelWithDebInfo

override_dh_auto_install:
	dh_auto_install
	# wrong size
	mv debian/luminance/usr/share/icons/hicolor/48x48 debian/luminance/usr/share/icons/hicolor/32x32

override_dh_installchangelogs:
	dh_installchangelogs Changelog
	rm -f debian/luminance/usr/share/luminance-hdr/LICENSE
