[Desktop Entry]
Version=1.0
Name=Ultimate++
Comment=IDE for cross-platform C++ development
Exec=upp
Icon=upp
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=false
MimeType=application/x-upp;
