Source: ubuntu-tweak
Section: utils
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: debhelper (>= 9),
               intltool,
               dh-translations,
               python-dev,
               python-setuptools,
               python-distutils-extra
Standards-Version: 3.9.5
Homepage: http://ubuntu-tweak.com

Package: ubuntu-tweak
Architecture: all
Depends: gksu,
         python-apt,
         python-dbus,
         python-xdg,
         python-lxml,
         python-aptdaemon,
         python-aptdaemon.gtk3widgets,
         policykit-1-gnome | policykit-1-qt,
         python-defer,
         python-compizconfig,
         gir1.2-vte-2.90,
         gir1.2-gtk-3.0,
         gir1.2-gconf-2.0,
         gir1.2-notify-0.7,
         gir1.2-webkit-3.0,
         gir1.2-soup-2.4,
         ${misc:Depends},
         ${python:Depends}
Description: Ubuntu Configuration Tool
 Ubuntu Tweak is an application which makes configuring Ubuntu easier for
 everyone. It allows tweaking of many useful desktop and system configuration
 options which are unavailable via native system tools.
