Source: filebot
Section: utils
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 7.0.50~), ant, openjdk-6-jdk
Standards-Version: 3.9.1
Homepage: http://filebot.sourceforge.net/

Package: filebot
Architecture: all
Depends: ${misc:Depends}, libmediainfo0, libzen0, openjdk-6-jre | sun-java6-jre | java2-common, fontconfig
Description: Ultimate tv renamer / subtitle downloader / sfv validator
 Ultimate tool for renaming your tv shows and anime,
 downloading subtitles from various sources or just
 simple file verification.

Package: libmediainfo0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for media information
 MediaInfo supplies technical and tag information
 about a video or audio file.
 It is free software (free of charge and free
 access to source code: GPL or LGPL licence).

Package: libzen0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library written in C++ that implements the BitTorrent protocol
 Libzen is a library written in C++ that implements the BitTorrent protocol.
 It is currently at a very early stage of development.
 The aim of this project is to develop a stable library
 followed by a fully functional client application.
