Source: libpagoda-ruby
Section: libs
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               ruby,
               gem2deb (>= 0.2.6~)
Standards-Version: 3.9.6
Homepage: http://www.pagodabox.com
XS-Ruby-Versions: all

Package: libpagoda-ruby2.1
Architecture: all
Section: ruby
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${misc:Depends},
         ruby-password,
         ruby-rest-client,
         ruby-json,
         libiniparse-ruby,
         ruby-highline,
         ruby,
         libruby,
         ruby-gli,
         ruby-pagoda-client,
         ruby-pagoda-tunnel
Description: Terminal client for pagodabox
 Terminal client for interacting with the pagodabox.
 This client does not contain full API functionality,
 just functionality that will enhance the workflow
 experience.

Package: libpagoda-ruby
Architecture: all
Section: ruby
Depends: ${misc:Depends},
         libpagoda-ruby2.1
Description: Terminal client for pagodabox (dummy package)
 Terminal client for interacting with the pagodabox.
 This client does not contain full API functionality,
 just functionality that will enhance the workflow
 experience.
 .
 This package is a dependency package, which depends on Ubuntu's
 default Ruby version (currently 2.1.x).
