Source: xautoclick
Section: utils
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 7.0.50), autotools-dev,
 libx11-dev, libxtst-dev, libgtk2.0-dev, libqt3-headers,
 libfltk1.1-dev, libqt4-dev
Standards-Version: 3.9.1
Homepage: http://xautoclick.sourceforge.net/

Package: xautoclick
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Automatically click the left mousebutton
 This autoclicker application enables you to automatically
 click the left mousebutton. It is designed to reduce
 strain on the wrist muscles caused by repetitive mouse
 clicking, which can lead to serious injury or impair
 (RSI, Carpal Tunnel Syndrome, et cetera). By specifying
 the interval, a random factor and the number of times
 to click, the program simulates natural clicking.
 .
 Possible fields of use are (obviously) programs that
 require a lot of repetitive clicking, but it can also
 be used to click restart every ten minutes in a
 presentation program.
