#!/usr/bin/make -f
%:
	dh $@

override_dh_install:
	dh_install
	find debian/ochdownloader/usr/share/ochdownloader -iname "*.exe" -delete
	find debian/ochdownloader/usr/share/ochdownloader -iname "*.dll" -delete
