Source: codeslayer
Section: devel
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               libtool,
               gtk-doc-tools,
               autotools-dev,
               libgtk2.0-dev,
               libglib2.0-dev,
               libgtksourceview2.0-dev,
               libgtk-3-dev,
               libgtksourceview-3.0-dev
Standards-Version: 3.9.4
Homepage: http://code.google.com/p/codeslayer/

Package: codeslayer
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libcodeslayer0 (= ${binary:Version})
Description: Lightweight code editor
 CodeSlayer is a source code editor that boasts
 a clean interface but powerful features.
 It is written in C using the GTK+ toolkit.

Package: libcodeslayer0
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Lightweight code editor (library)
 CodeSlayer is a source code editor that boasts
 a clean interface but powerful features.
 It is written in C using the GTK+ toolkit.
 .
 (This package contains the library files)

Package: codeslayer-dev
Architecture: any
Depends: ${misc:Depends},
         libcodeslayer0 (= ${binary:Version})
Description: Lightweight code editor (headers)
 CodeSlayer is a source code editor that boasts
 a clean interface but powerful features.
 It is written in C using the GTK+ toolkit.
 .
 (This package contains the development files)
