#!/usr/bin/make -f
CPPFLAGS+=-DNDEBUG -DQT_NO_DEBUG -DTEST_USE_FFMPEG_VERSIONS=0
%:
	dh $@ --parallel

# not implemented in 3rdparty/soxr
override_dh_auto_test:

override_dh_install:
	dh_install --fail-missing
	find debian/libssr-glinject -name "*.la" -delete
