Source: pragha
Section: sound
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               autotools-dev,
               exo-utils,
               libmad0-dev,
               libcdio-cdda-dev,
               libcdio-dev,
               libtagc0-dev,
               libtag1-dev,
               libglib2.0-dev,
               libdbus-1-dev,
               libdbus-glib-1-dev,
               libnotify-dev,
               libgtk-3-dev,
               libsqlite3-dev,
               libao-dev,
               libcurl4-openssl-dev,
               x11proto-core-dev,
               libcddb2-dev,
               libflac-dev,
               libmodplug-dev,
               libasound2-dev,
               linux-libc-dev,
               libvorbis-dev,
               libsndfile1-dev,
               libcdio-paranoia-dev,
               libgstreamer0.10-dev, 
               libkeybinder-dev,
               libtotem-plparser-dev,
               libgstreamer-plugins-base1.0-dev,
               libgstreamer1.0-dev,
               libxfce4ui-2-dev,
               libpeas-dev,
               libglyr-dev,
               libsoup2.4-dev,
               libgrilo-0.2-dev,
               libgudev-1.0-dev,
               libmtp-dev,
               libnotify-dev,
               libkeybinder-3.0-dev,
               libglyr-dev,
               libtotem-plparser-dev,
               libclastfm0-dev,
               rygel-2.6-dev
Standards-Version: 3.9.6
Homepage: https://github.com/pragha-music-player/pragha

Package: pragha
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Reproducer and administrator of music
 A reproducer and administrator of music for GNU/Linux,
 based on Gtk, sqlite, and completely written in C, constructed
 to be fast, light, and simultaneously complete without
 obstructing the daily work.
 .
 Pragha was originally derived of Consonance Music Manager
 (http://sites.google.com/site/consonancemanager/), discontinued
 by the original author.
