#!/usr/bin/make -f
%:
	dh $@ 

override_dh_auto_install:
	dh_auto_install

	find debian/pragha/usr -type f -name "*.la" -delete
	rm -r debian/pragha/usr/include

override_dh_installchangelogs:
	dh_installchangelogs NEWS
