Source: libiniparse-ruby
Section: libs
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               gem2deb (>= 0.2.6~),
               libruby2.3
Standards-Version: 3.9.6
Homepage: http://rubygems.org/gems/iniparse
XS-Ruby-Versions: all

Package: libiniparse-ruby
Architecture: all
Section: ruby
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${misc:Depends},
         libiniparse-ruby2.3
Description: Pure Ruby library for parsing INI documents (dummy package)
 Library for parsing INI documents.
 === Main features
 .
  * Support for duplicate options. While not common, some INI files
    contain an option more than once. IniParse does not overwrite previous
    options, but allows you to access all of the duplicate values.
 .
  * Preservation of white space and blank lines. When writing back to
    your INI file, line indents, white space and comments (and their indents)
    are preserved. Only trailing white space (which has no significance in INI
    files) will be removed.
 .
  * Preservation of section and option ordering. Sections and options
    are kept in the same order they are in the original document ensuring that
    nothing gets mangled when writing back to the file.
 .
 This package is a dependency package, which depends on Ubuntu's
 default Ruby version (currently ruby1.9.x).

Package: libiniparse-ruby2.3
Architecture: all
Section: ruby
Depends: ${misc:Depends},
         libruby2.3
Description: Pure Ruby library for parsing INI documents
 Library for parsing INI documents.
 === Main features
 .
  * Support for duplicate options. While not common, some INI files
    contain an option more than once. IniParse does not overwrite previous
    options, but allows you to access all of the duplicate values.
 .
  * Preservation of white space and blank lines. When writing back to
    your INI file, line indents, white space and comments (and their indents)
    are preserved. Only trailing white space (which has no significance in INI
    files) will be removed.
 .
  * Preservation of section and option ordering. Sections and options
    are kept in the same order they are in the original document ensuring that
    nothing gets mangled when writing back to the file.
