Source: opentumblr
Section: net
Priority: optional
Maintainer: Christoph Korn <c_korn@gmx.de>
Build-Depends: debhelper (>= 6), python-all,
 python-support
Standards-Version: 3.8.4
Homepage: http://www.opentumblr.com/

Package: opentumblr
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
 python-wxgtk2.8, python-simplejson
Description: Tumblr Client
 A simple, incredible and functional app, for tumblr.
