Source: frostwire
Section: net
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Uploaders: Angel Leon <gubatron@gmail.com>,
 Alden Torres <aldenml@gmail.com>
Build-Depends: debhelper (>= 9),
               ant,
               gradle,
               openjdk-7-jdk,
               zlib1g,
               javahelper
Standards-Version: 3.9.5
Homepage: http://www.frostwire.com

Package: frostwire
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         openjdk-7-jre | java-runtime,
         fontconfig,
         frostwire-data (= ${source:Version}),
         mplayer
Description: High quality, FREE peer-to-peer application
 It's core is based on LimeWire but it also supports bittorrent. 
 Peer-to-Peer file sharing program for the Gnutella network
 and BitTorrent protocol. It is built on the LimeWire
 source code, and it is written in the Java
 programming language.

Package: frostwire-data
Architecture: all
Depends: ${misc:Depends}
Description: High quality, FREE peer-to-peer application (data package)
 It's core is based on LimeWire but it also supports bittorrent. 
 Peer-to-Peer file sharing program for the Gnutella network
 and BitTorrent protocol. It is built on the LimeWire
 source code, and it is written in the Java
 programming language.
 .
 (This package contains the data files)
