#!/usr/bin/make -f
include /usr/share/javahelper/java-vars.mk
%:
	dh $@

override_dh_auto_clean:
	gradle --gradle-user-home /tmp/.gradle clean
	rm -fr .gradle

override_dh_auto_build:
	#Build everything from source
	gradle --gradle-user-home /tmp/.gradle build
	#Copy frostwire.jar
	cp -p -v build/libs/frostwire.jar lib/jars
	rm -fr build
	rm -fr .gradle

override_dh_install:
	cp run frostwire
	dh_install
