#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	dh_auto_install

	#cd debian/anomos/usr/bin ; for f in $$(ls -1 *.py) ; do \
	#  mv $$f $${f%\.*} ; done

override_dh_compress:
	dh_compress -X GeoIP
