#!/usr/bin/make -f
%:
	dh $@ --with autoreconf

override_dh_autoreconf:
	mkdir -p m4
	touch ChangeLog
	touch config.rpath
	dh_autoreconf

override_dh_auto_configure:
	# widgets/CompletionTextView.vala:103.5-103.40: error: The name `set_enable_language_menu' does not exist in the context of `Gspell.TextView'
	dh_auto_configure -- --disable-spellcheck
