[Desktop Entry]
Name=Gitso
Comment=Connect to others using VNC protocol
Exec=gitso
Icon=gitso
Terminal=false
MimeType=application/x-remote-connection;
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;RemoteAccess;
