Source: frostwire4
Section: net
Priority: optional
Maintainer: Joao Pinto <joao.pinto@getdeb.net>
Build-Depends: debhelper (>= 7.0.50), python-support
Standards-Version: 3.9.1
Homepage: http://www.frostwire.com

Package: frostwire4
Architecture: any
Depends: ${misc:Depends}, ${python:Depends},
  openjdk-6-jre | java-runtime,
  fontconfig,
  ia32-libs [amd64],
  frostwire4-data (= ${source:Version})
Description: High quality, FREE peer-to-peer application
 It's core is based on LimeWire but it also supports bittorrent. 
 Peer-to-Peer file sharing program for the Gnutella network
 and BitTorrent protocol. It is built on the LimeWire
 source code, and it is written in the Java
 programming language.

Package: frostwire4-data
Architecture: all
Depends: ${misc:Depends}
Description: High quality, FREE peer-to-peer application (data package)
 It's core is based on LimeWire but it also supports bittorrent. 
 Peer-to-Peer file sharing program for the Gnutella network
 and BitTorrent protocol. It is built on the LimeWire
 source code, and it is written in the Java
 programming language.
 .
 (This package contains the data files)
