#!/usr/bin/make -f
version=4.21.8
%:
	dh $@

override_dh_shlibdeps:
	dh_shlibdeps -X frostwire4

override_dh_auto_build:
	tar xvf frostwire-$(version).noarch.tar.gz	
	mv frostwire-$(version).noarch frostwire4
	find frostwire4 -type f -name "*.jar" -exec chmod -x {} \;
	rm frostwire4/COPYING
	cp frostwire4/changelog changelog

override_dh_auto_clean:
	rm -rf frostwire4 changelog
