#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	# Messing with environment variables in makefiles causes configure to fail.
	# Unsetting it here fixes this (the reason is still unknown for me)
	env --unset=LDFLAGS $(MAKE) 

override_dh_auto_clean:
	$(MAKE) clean
	rm -rf udis86/libudis86/.libs mhash/src/.libs mhash/lib/.libs
	rm -f udis86/libudis86/*.o udis86/scripts/*.pyc
	rm -f mhash/src/*.o mhash/lib/*.o
	rm -f mhash/lib/*.lo
	rm -f mhash/libtool
	rm -f mhash/config.log mhash/config.status
	rm -rf udis86/build
	rm -f udis86/libudis86/itab.c udis86/libudis86/itab.h udis86/libudis86/*.lo

	rm -f mhash/include/mutils/mhash_config.h mhash/include/mutils/stamp-h1 mhash/lib/libmhash.la \
	 mhash/src/driver mhash/src/frag_test mhash/src/hmac_test mhash/src/keygen_test mhash/src/rest_test \
	 udis86/aclocal.m4 udis86/config.h udis86/config.h.in udis86/config.log udis86/config.status \
	 udis86/configure udis86/libtool udis86/libudis86/libudis86.la udis86/m4/libtool.m4 udis86/m4/ltoptions.m4 \
	 udis86/m4/ltsugar.m4 udis86/m4/ltversion.m4 udis86/m4/lt~obsolete.m4 udis86/stamp-h1

	find mhash -type f -name Makefile -delete
	find udis86 -type f -name Makefile -delete
	find udis86 -type f -name Makefile.in -delete

# Has no DESTDIR support.
override_dh_auto_install:

override_dh_installchangelogs:
	dh_installchangelogs docs/Change.log
