Source: wakeonplan
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               libglib2.0-bin,
               python (>= 2.6.6-3~),
               python-distutils-extra (>= 2.10)
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Standards-Version: 3.9.3
XS-Python-Version: current
Homepage: https://launchpad.net/wakeonplan

Package: wakeonplan
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends},
         ${python:Depends},
         gir1.2-glib-2.0,
         gir1.2-gtk-3.0,
         gir1.2-pango-1.0,
         gir1.2-notify-0.7,
         gir1.2-launchpad-integration-3.0,
         python-gi,
         yelp
Description: Wake on Plan: UI for managing ACPI wakeups
 Simple ACPI wakeups manager with some additional options and Unity
 integration where necessary. You can select an exact date or relative
 time to set the alarm and check it's current status. After setting the
 alarm your machine should wake up on the specified date. In theory it's
 hardware-dependent but Real Time Clock Alarm (the real name of the
 feature) was in ACPI Specs since revision 1.0 published back in 1996.
 One major notice though: some portable devices don't wake up while on
 battery to prevent accidental damage and battery discharge.
