Source: songbird
Section: sound 
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net> 
Build-Depends: cdbs,
               debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://www.songbirdnest.com

Package: songbird
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         firefox,
         libc6:i386,
         libasound2:i386,
         libstdc++6:i386,
         libxrender1:i386,
         libgtk2.0-0:i386,
         libgstreamer0.10-0:i386,
         libgstreamer-plugins-base0.10-0:i386,
         libdbus-glib-1-2:i386,
         libxt6:i386,
         libflac8:i386,
         libgnomevfs2-0:i386,
         libvorbisenc2:i386,
         liborbit2:i386,
         libpulse0:i386,
         libbz2-1.0:i386,
         libxv1:i386,
         libtheora0:i386
Description: Songbird is a desktop Web player, a digital jukebox and Web browser mash-up
 It supports extensions and skins feathers. Like Firefox,
 it is built from Mozilla, cross-platform and open source.
