#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

DEB_DH_SHLIBDEPS_ARGS_ALL := -X songbird

makebuilddir/songbird::
	tar xvf Songbird*linux-i686.tar.gz

	mkdir -m755 -p $(CURDIR)/debian/songbird/usr/share/pixmaps
	cp -p $(CURDIR)/Songbird/chrome/icons/default/default.xpm $(CURDIR)/debian/songbird/usr/share/pixmaps/songbird.xpm

clean::
	rm -rf Songbird
