[Desktop Entry]
Version=1.0
Name=Eiffel Studio
Exec=/usr/bin/eiffelstudio
Icon=eiffelstudio
Terminal=false
Type=Application
Categories=Application;Development;
