Source: git-radar
Section: utils
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: https://github.com/michaeldfallen/git-radar

Package: git-radar
Architecture: all
Depends: ${misc:Depends},
         git
Description: Heads up display for git
 Git-radar is a tool you can add to your prompt to provide
 at-a-glance information on your git repo. It's a labour of
 love I've been dogfooding for the last few years.
 Maybe it can help you too.
