[Desktop Entry]
Name=Avidemux 2.6 (Qt)
GenericName=Qt Video Editor
Comment=Edit your Videos
Comment[de]=Videos bearbeiten
TryExec=avidemux3_qt5
Exec=avidemux3_qt5
Icon=avidemux2.6-qt
Terminal=false
Type=Application
Categories=Qt;AudioVideo
MimeType=video/mpeg;video/x-mpeg;video/x-avi;application/x-flash-video;application/x-shockwave-flash;video/flv
