Source: drawpile
Section: graphics
Priority: optional
Maintainer: Christoph Korn <c_korn@gmx.de>
Build-Depends: debhelper (>= 6),
 cmake, libqt4-dev, sharutils
Standards-Version: 3.8.4
Homepage: http://drawpile.sourceforge.net/

Package: drawpile
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenCanvas similar drawing program
 DrawPile is a collaborative drawing program, similar to OpenCanvas.
