Source: drawpile
Section: graphics
Priority: optional
Maintainer: Christoph Korn <c_korn@gmx.de>
Build-Depends: debhelper (>= 9),
               cmake,
               qtbase5-dev,
               zlib1g-dev,
               libkf5archive-dev,
               qtmultimedia5-dev,
               libqt5svg5-dev
Standards-Version: 3.9.6
Homepage: http://drawpile.sourceforge.net/

Package: drawpile
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libqt5svg5
Description: OpenCanvas similar drawing program
 DrawPile is a collaborative drawing program, similar to OpenCanvas.
