[Desktop Entry]
Version=1.0
Name=DrawPile
Exec=/usr/bin/drawpile
Icon=drawpile
Terminal=false
Type=Application
Categories=Application;Graphics;Viewer;
