Source: ignuit
Section: misc
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               autotools-dev,
               libglib2.0-dev,
               libgnomeui-dev,
               libgconf2-dev,
               libglade2-dev,
               libgtk2.0-dev,
               libxslt1-dev,
               libgstreamer0.10-dev,
               pkg-config,
               gnome-doc-utils,
               rarian-compat
Standards-Version: 3.9.5
Homepage: http://homepages.ihug.co.nz/~trmusson/programs.html#ignuit

Package: ignuit
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Memorization aid based on the Leitner flash card system
 Ignuit is a memorization aid based on the Leitner flash card system.
 .
 Ignuit is a memorization aid based on the Leitner flashcard system.
 It has a GNOME look and feel, a good selection of quiz options, and
 supports UTF-8. Cards can include embedded audio, images, and
 mathematical formulae (via LaTeX). It can import and export several
 file formats, including CSV, jMemorize, and Mnemosyne. Ignuit can
 be used for both long-term learning and cramming.
