Source: gnocky
Section: utils
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
XSBC-Original-Maintainer: Matthias Mailänder <matthias@mailaender.name>
Build-Depends: debhelper (>= 7), autotools-dev,
 libgtk2.0-dev (>= 2.4.0), libglib2.0-dev (>= 2.0.0), libglade2-dev (>= 2.0),
 libgnokii-dev (>= 0.6.13), libusb-dev
Standards-Version: 3.9.1

Package: gnocky
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: gnome-bluetooth
Description: mobile phone manager
  Gnocky is a mobile phone manager that let's you edit
 your cellphone addressbook, send SMS and draw a new
 logo. It is a GTK GUI for libgnokii.
