Source: svgpage
Section: graphics
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 7.0.50), python-support
Standards-Version: 3.8.3
Homepage: http://www.gimphelp.org/svgpage_readme.shtml

Package: svgpage
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
 python-gtk2, python-rsvg, autotrace
Description: SVG viewer/convertor
 SVGpage is a pyGTK application to view and convert to and
 from vector (SVG) graphics. In addition to SVG files the 
 application is able to open PNG, GIF, JPG (including Exif), 
 BMP and XPM. It can save as SVG, PNG or JPG.
