#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	[ ! -f Makefile ] || $(MAKE) distclean
	rm -f c++-gtk-utils-2-2.0.pc

override_dh_auto_configure:
	CXXFLAGS="" LDFLAGS="" ./configure-gtk2 --prefix=/usr

override_dh_auto_build:
	CXXFLAGS="" LDFLAGS="" $(MAKE)

# Tests require a display
override_dh_auto_test:

override_dh_auto_install:
	CXXFLAGS="" LDFLAGS="" $(MAKE) DESTDIR=$(CURDIR)/debian/tmp install
	rm debian/tmp/usr/share/doc/c++-gtk-utils/2.0/COPYING
	rm debian/tmp/usr/lib/libcxx-gtk-utils-2-2.0.la

override_dh_install:
	dh_install --list-missing

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog
