#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
%:
	dh $@ --parallel

override_dh_auto_clean:
	[ ! -f Makefile ] || $(MAKE) distclean
	rm -f c++-gtk-utils-2-2.0.pc

override_dh_auto_configure:
	[ -f ./configure.bak ] || ( mv ./configure ./configure.bak && mv ./configure-gtk2 ./configure )
	dh_auto_configure -- --prefix=/usr --disable-silent-rules
	mv ./configure ./configure-gtk2 && mv ./configure.bak ./configure

# Tests require a display
override_dh_auto_test:

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/tmp install
	rm debian/tmp/usr/share/doc/c++-gtk-utils/2.2/COPYING
	find debian/tmp/usr/lib/ -type f -name "*.la" -delete

override_dh_install:
	dh_install --list-missing

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog
