Source: armedbear
Section: java
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 7.0.50), ant, openjdk-6-jdk | sun-java6-jdk,
 abcl, ant-optional
Standards-Version: 3.8.4
Homepage: http://armedbear-j.sourceforge.net

Package: armedbear
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openjdk-6-jre | sun-java6-jre, abcl
Description: Text editor with Java and LISP capabilities
 J is an advanced text editor with IDE
 capabilities for Java programming.
 It also supports scripting in LISP.
