Source: xvst
Section: video
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               qtbase5-dev,
               qt5-qmake,
               libqt5webkit5-dev,
               libqt5opengl5-dev,
               qtdeclarative5-private-dev,
               qtlocation5-private-dev,
               qtsensors5-private-dev,
               qtscript5-private-dev,
               libxslt1-dev,
               libglib2.0-dev,
               libgstreamer-plugins-base0.10-dev,
               libgstreamer0.10-dev,
               libglib2.0-dev,
               libxml2-dev,
               libsqlite3-dev
Standards-Version: 3.9.4
Homepage: http://xviservicethief.sourceforge.net

Package: xvst
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ffmpeg
Description: Download tool for video clips
 xVideoServiceThief (a.k.a xVST) is a tool for downloading
 your favourite video clips from a lot of video websites
 (currently supports 76 websites and increasing!).
