[Desktop Entry]
Version=1.0
Name=xVideoServiceThief
Exec=/usr/bin/xvst
Icon=xvst
Terminal=false
Type=Application
Categories=AudioVideo;Player;
Keywords=xvst;thief;
