Source: synergy
Section: x11
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
XSBC-Original-Maintainer: Jeff Licquia <licquia@debian.org>
Homepage: http://synergy-foss.org/
Build-Depends: debhelper (>= 9),
               libxt-dev,
               libxtst-dev,
               libxinerama-dev,
               cmake,
               docbook-to-man,
               libcrypto++-dev,
               pkg-config,
               libqt4-dev,
               libcurl4-openssl-dev
Standards-Version: 3.9.5

Package: synergy
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Share mouse, keyboard and clipboard over the network
 Synergy lets you easily share a single mouse and keyboard between
 multiple computers with different operating systems, each with its
 own display, without special hardware.  It's intended for users
 with multiple computers on their desk since each system uses its
 own display.
 .
 Redirecting the mouse and keyboard is as simple as moving the mouse
 off the edge of your screen.  Synergy also merges the clipboards of
 all the systems into one, allowing cut-and-paste between systems.
 Furthermore, it synchronizes screen savers so they all start and stop
 together and, if screen locking is enabled, only one screen requires
 a password to unlock them all.
 .
 Packages for Windows/MacOS/RPM and Sources can be found at
 http://sourceforge.net/project/showfiles.php?group_id=59275
