Source: symon
Section: utils
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 10),
               libnewlib-dev,
               libbind-dev,
               linux-libc-dev,
               librrd-dev,
               pmake
Standards-Version: 3.9.8
Homepage: http://www.xs4all.nl/~wpd/symon/

Package: symon
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Lightweight system monitor
 symon is a lightweight system monitor for FreeBSD,
 NetBSD, OpenBSD and Linux. It can be used to obtain
 accurate and up to date information on the performance
 of a number of systems.
