Source: dispcalgui
Section: utils
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 8.0.0),
               python-dev (>= 2.6.6-3~),
               libx11-dev,
               x11proto-core-dev,
               libxxf86vm-dev,
               libxext-dev,
               libxinerama-dev,
               libxrandr-dev
Standards-Version: 3.9.3
Homepage: http://dispcalgui.hoech.net/

Package: dispcalgui
Architecture: any
XB-Python-Version: ${python:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
 python-wxversion, python-wxgtk2.8, python-numpy
Description: GUI for Argyll CMS display calibration and profiling tools
 Calibrates and characterizes display devices using a hardware sensor,
 driven by the open source color management system Argyll CMS.
 Supports multi-display setups and a variety of available settings like 
 customizable whitepoint, luminance, black level, tone response curve 
 as well as the creation of matrix and look-up-table ICC profiles with 
 optional gamut mapping. Calibrations and profiles can be verified 
 through measurements, and profiles can be installed to make them 
 available to color management aware applications.
 Profile installation can utilize Argyll CMS, Oyranos and/or GNOME 
 Color Manager if available, for flexible integration.
