Source: f4l
Section: devel
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 7.0.50~),
 libqt3-headers, zlib1g-dev, libantlr-dev,
 qt3-dev-tools, libqt3-mt-dev
Standards-Version: 3.9.1
Homepage: http://f4l.sourceforge.net

Package: f4l
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Development environment for Macromedia Flash
 F4L is an open source development environment for Macromedia Flash,
 a multi-platform format(swf/svg) widely used for web applications
 and vector animation. Basically, you can make interactive eye candy
 for your web site or any other purpose.
