#!/usr/bin/make -f
%:
	dh $@ --with autoreconf


override_dh_auto_configure:
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif
	./configure --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info CPPFLAGS=$(CPPFLAGS) CFLAGS="$(CFLAGS)" LDFLAGS="-Wl,-z,defs,--as-needed"

override_dh_auto_build:
	$(MAKE)

override_dh_clean:
	dh_clean config.sub config.guess

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/mount-gtk install

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog
