Source: qstopmotion
Section: video
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               cmake,
               libqt4-dev,
               libgstreamer0.10-dev,
               libgstreamer-plugins-base0.10-dev
Standards-Version: 3.9.3
Homepage: http://www.qstopmotion.org/

Package: qstopmotion
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Creates stop-motion animation movies
 qStopMotion is a free application for creating stop-motion
 animation movies. The users will be able to create
 stop-motions from pictures imported from a camera or from
 the harddrive and export the animation to different video
 formats such as mpeg or avi.
