#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEST=usr/share/smile

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk
QMAKE=qmake-qt4

install/smile::
	uudecode $(CURDIR)/debian/smile-logo.png.uue -o debian/smile-slide.png

binary-install/smile::
	for type in qm txt ; do find $(CURDIR)/debian/smile/ -type f -name "*$$type" -exec chmod -x '{}' \; ; done
	find $(CURDIR)/debian/smile/usr/share/smile/ -type f -exec chmod -x '{}' \;

binary-install/smile-data::
	# fixing permission on every images and on Help files.
	for type in jpg gif png qm ; do find $(CURDIR)/debian/smile-data/ -type f -name "*$$type" -exec chmod -x '{}' \; ; done
	find $(CURDIR)/debian/smile-data/usr/share/smile/BIB_ManSlide/ -type f -exec chmod -x '{}' \;
	# moving Help from /usr/share to a nicer place.
	mv $(CURDIR)/debian/smile-data/usr/share/smile/BIB_ManSlide/Help $(CURDIR)/debian/smile-data/usr/share/doc/smile-data/

clean::
	rm -f $(CURDIR)/debian/smile-slide.png
