Source: makehuman
Section: graphics
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
XSBC-Original-Maintainer: Muammar El Khatib <muammar@debian.org>
Build-Depends: debhelper (>= 9),
               python-all-dev (>= 2.7.3~rc2),
               python-numpy
XS-Python-Version: current
Standards-Version: 3.9.3
Homepage: http://www.makehuman.org/

Package: makehuman
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         fontconfig,
         python-qt4,
         python-opengl,
         python-numpy,
         python-qt4-gl,
         makehuman-data (= ${source:Version})
Suggests: blender
Description: Modelling of 3-Dimensional humanoid characters
 MakeHuman is a 3-Dimensional humanoid characters modelling software. Features
 that make this software innovative and unique include a new, highly intuitive
 GUI and a high quality mesh, optimized to work in subdivision surface mode
 (for example, Zbrush). Using MakeHuman, a photorealistic character can be
 modeled in less than 2 minutes.

Package: makehuman-data
Architecture: all
Depends: ${misc:Depends}
Description: Modelling of 3-Dimensional humanoid characters (application data)
 MakeHuman is a 3-Dimensional humanoid characters modelling software. Features
 that make this software innovative and unique include a new, highly intuitive
 GUI and a high quality mesh, optimized to work in subdivision surface mode
 (for example, Zbrush). Using MakeHuman, a photorealistic character can be
 modeled in less than 2 minutes.
 .
 This package contains the application data files for MakeHuman.
