#!/usr/bin/make -f
PKD = $(abspath $(dir $(MAKEFILE_LIST)))
PKG = $(shell dpkg-parsechangelog -l$(PKD)/changelog -SSource)
VER = $(shell dpkg-parsechangelog -l$(PKD)/changelog -SVersion | cut -d- -f1)
%:
	dh $@ --with python2

override_dh_auto_install:
	cd buildscripts ; python ./build_prepare.py --skiphg $(CURDIR) $(CURDIR)/debian/tmp

## http://wiki.debian.org/onlyjob/get-orig-source
.PHONY: get-orig-source
get-orig-source: $(PKG)_$(VER).orig.tar.xz $(info I: $(PKG)_$(VER))
	@

## checkout from mercurial (add "mercurial" to Build-Depends)
UURL  = https://bitbucket.org/MakeHuman/makehuman
$(PKG)_$(VER).orig.tar.xz: $(info I: VER=$(VER))
	$(if $(wildcard $(PKG)-$(VER)),$(error $(PKG)-$(VER) exist, aborting..))
	hg clone $(UURL) $(PKG)-$(VER) \
	|| $(RM) -r $(PKG)-$(VER)
	cd $(PKG)-$(VER) \
	&& hg checkout $(VER) \
	&& [ -s ChangeLog ] || ( echo "# Generating ChangeLog..." \
	&& hg log --style=changelog -r :$(VER) > ChangeLog ) \
	&& echo "[BuildPrepare]" > buildscripts/build.conf \
	&& echo "hgRev = "`hg id -n`":"`hg id -i` >> buildscripts/build.conf \
	&& echo "isRelease = True" >> buildscripts/build.conf \
	&& echo "skipHg = True" >> buildscripts/build.conf \
	&& echo "# Clean-up..." \
	&& find . -iname "*.bat" -delete \
	&& $(RM) -r .hg .hg* \
	@echo "# Packing..."
	find -L "$(PKG)-$(VER)" -xdev -type f -print | sort \
	| XZ_OPT="-6v" tar -caf "$(PKG)_$(VER).orig.tar.xz" -T- --owner=root --group=root --mode=a+rX \
	&& $(RM) -r "$(PKG)-$(VER)"
