#!/usr/bin/make -f
%:
	dh $@ --with python2

override_dh_auto_install:
	cd buildscripts ; python ./build_prepare.py --skiphg $(CURDIR) $(CURDIR)/debian/tmp

override_dh_install:
	dh_install
	rm -f debian/makehuman/usr/share/makehuman/blendertools/copy2blender.bat
