Source: hexchat
Section: net
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: debhelper (>= 9.0.0),
               dh-autoreconf,
               intltool,
               libcanberra-dev,
               libdbus-glib-1-dev,
               libglib2.0-dev,
               libgtk2.0-dev (>= 2.10.0),
               libnotify-dev,
               libpci-dev,
               libperl-dev,
               libproxy-dev,
               libssl-dev,
               libtool,
               python-dev,
               python3-dev
Standards-Version: 3.9.7
Homepage: http://hexchat.github.io/

Package: hexchat
Architecture: any
Provides: irc
Depends: ${misc:Depends},
         hexchat-common (= ${source:Version}),
         ${shlibs:Depends}
Recommends: gvfs-bin,
            hexchat-plugins,
            hexchat-perl,
            hexchat-python3
Suggests: unifont
Description: IRC client for X based on X-Chat 2
 HexChat is a graphical IRC client with a GTK+ GUI. Features include Python
 and Perl scripting support, a plugin API, multiple server/channel windows, 
 spell checking, multiple authentication methods including SASL,
 and customizable notifications. For more information on IRC,
 see http://irchelp.org/.

Package: hexchat-common
Architecture: all
Provides: irc
Depends: ${misc:Depends}
Recommends: hexchat
Description: Common files for HexChat
 This package includes documentation, headers, and locale files for the
 Debian HexChat packages that are common for all architectures. Hexchat is a
 popular and featureful IRC client with a GTK+ GUI. For more information on
 IRC, see http://irchelp.org/.

Package: hexchat-perl
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Replaces: hexchat (<< 2.10.2-1)
Breaks: hexchat (<< 2.10.2-1)
Recommends: hexchat 
Description: Perl plugin for HexChat
 This package contains the perl plugin for HexChat. Previously included in the 
 main HexChat package, it's now separate as it's not actually required for core
 functionality.

Package: hexchat-python
Depends: hexchat-python3,
         ${misc:Depends}
Architecture: all
Priority: extra
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: hexchat-python2
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Replaces: hexchat (<< 2.10.2-1),
          hexchat-python (<< 2.12.0-1)
Breaks: hexchat (<< 2.10.2-1),
        hexchat-python (<< 2.12.0-1)
Conflicts: hexchat-python3
Recommends: hexchat
Description: Python 2 plugin for HexChat
 This package contains the Python 2 plugin for HexChat. Previously included in 
 the main HexChat package, it's now separate as it's not actually required for 
 core functionality.  

Package: hexchat-python3
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Replaces: hexchat (<< 2.10.2-1),
          hexchat-python (<< 2.12.0-1)
Breaks: hexchat (<< 2.10.2-1),
        hexchat-python (<< 2.12.0-1)
Conflicts: hexchat-python2
Recommends: hexchat
Description: Python 3 plugin for HexChat
 This package contains the Python 3 plugin for HexChat. Previously included in 
 the main HexChat package, it's now separate as it's not actually required for 
 core functionality.  

Package: hexchat-plugins
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Replaces: hexchat (<< 2.10.2-1)
Breaks: hexchat (<< 2.10.2-1)
Recommends: hexchat
Description: Common plugins for HexChat
 This package contains the FiSHLiM, Sysinfo, Do At and Checksum plugins. 
 Previously included in the main HexChat package, they're now separate as 
 they're not actually required for core functionality. 
