#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@  --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --disable-silent-rules

override_dh_auto_clean:
	rm -f po/*.gmo
	rm -f src/common/dbus/org.hexchat.service.service
	rm -f src/common/textenums.h
	rm -f src/common/textevents.h
	rm -f src/common/make-te
	rm -f po/stamp-po
	dh_auto_clean
	find . -name Makefile.in -exec rm -f {} \;
	rm -f aclocal.m4
	rm -f config.sub
	rm -f configure
	rm -f ltmain.sh
	rm -f m4/libtool.m4
	rm -f m4/glib-gettext.m4
