#!/usr/bin/make -f
version=4.20
%:
	dh $@

override_dh_shlibdeps:
	dh_shlibdeps -X frostwire

override_dh_auto_build:
	mkdir -p sqlrunner
	cd sqlrunner; unzip ../sqlrunner-$(version).zip

override_dh_auto_clean:
	rm -rf sqlrunner
