Source: ps3mediaserver
Section: net
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: debhelper (>= 9),
               ant,
               ant-contrib,
               default-jdk,
               libtool,
               unzip,
               automake,
               autoconf,
               binutils,
               pkg-config,
               chrpath
Standards-Version: 3.9.5
Homepage: http://www.ps3mediaserver.org/

Package: ps3mediaserver
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         flac,
         vlc,
         imagemagick,
         default-jre,
         libfreetype6 [i386],
         ttf-ubuntu-font-family
Description: DLNA Media Server
 PS3 Media Server is a DLNA compliant UPnP Media Server for
 the PS3 and other renderers, written in Java, 
 with the purpose of streaming or transcoding any kind of
 media files, with minimum configuration. 
 It's backed up with the powerful Mplayer/FFmpeg tools. 
