Source: livestreamer
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               python-setuptools (>= 0.6b3),
               python-all (>= 2.6.6-3),
               python-requests
Homepage: http://livestreamer.tanuki.se/
Standards-Version: 3.9.5

Package: python-livestreamer
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         rtmpdump
Recommends: vlc
Provides: ${python:Provides}
XS-Python-Version: ${python:Versions}
Description: CLI for piping video streams to video players
 Livestreamer is a Command Line Interface that pipes video
 streams from various services into a video player,
 such as VLC.
 The main purpose of Livestreamer is to allow the user to
 avoid buggy and CPU heavy flash plugins but still be able
 to enjoy various streamed content.
 Livestreamer is built upon a plugin system which allows
 support for new services to be easily added. 
 .
 Currently most of the big streaming services are
 supported, e.g. Dailymotion, Livestream, Twitch,
 Justin.tv, YouTube Live and Ustream.
 For more in-depth usage see the full documentation
 available at http://livestreamer.tanuki.se/.
