[Desktop Entry]
Version=1.0
Name=Bookmark Undertaker
Exec=/usr/bin/bmundertaker-launch
Terminal=false
Type=Application
Categories=Application;Network;
