Source: bmundertaker
Section: utils
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 7.0.50), python-support
Standards-Version: 3.8.4
Homepage: https://launchpad.net/bmundertaker/

Package: bmundertaker
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-beautifulsoup,
 python-gobject, python-gtk2
Description: Check your Firefox bookmarks for dead links
 A PyGTK application which imports Firefox's bookmarks,
 updates their status and exports them back to a compatible
 HTML file.
