#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	qmake -recursive CONFIG+=debug_and_release hashmonster.pro

override_dh_auto_test:

override_dh_auto_build:
	$(MAKE) release

override_dh_auto_install:

