Source: marble
Section: x11
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               cmake,
               libqt4-dev,
               libqtwebkit-dev
Standards-Version: 3.9.4
Homepage: http://edu.kde.org/marble/

Package: marble-qt
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         marble-qt-data (= ${source:Version}),
         libmarblewidget15 (= ${binary:Version})
Description: Virtual Globe and World Atlas (Qt version)
 Marble is a Virtual Globe and World Atlas that you can use
 to learn more about Earth: You can pan and zoom around and
 you can look up places and roads. A mouse click on a place
 label will provide the respective Wikipedia article.
 .
 Of course it's also possible to measure distances between
 locations or watch the current cloud cover. Marble offers
 different thematic maps: A classroom-style topographic
 map, a satellite view, street map, earth at night and
 temperature and precipitation maps. All maps include a
 custom map key, so it can also be used as an educational
 tool for use in class-rooms. For educational purposes you
 can also change date and time and watch how the starry sky
 and the twilight zone on the map change.
 .
 This package contains the Qt build which does not require
 KDE.

Package: marble-qt-data
Architecture: all
Depends: ${misc:Depends}
Description: Virtual Globe and World Atlas (data files)
 Marble is a Virtual Globe and World Atlas that you can use
 to learn more about Earth: You can pan and zoom around and
 you can look up places and roads. A mouse click on a place
 label will provide the respective Wikipedia article.
 .
 Of course it's also possible to measure distances between
 locations or watch the current cloud cover. Marble offers
 different thematic maps: A classroom-style topographic
 map, a satellite view, street map, earth at night and
 temperature and precipitation maps. All maps include a
 custom map key, so it can also be used as an educational
 tool for use in class-rooms. For educational purposes you
 can also change date and time and watch how the starry sky
 and the twilight zone on the map change.
 .
 This package contains the data files.

Package: libmarblewidget15
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Virtual Globe and World Atlas (library)
 Marble is a Virtual Globe and World Atlas that you can use
 to learn more about Earth: You can pan and zoom around and
 you can look up places and roads. A mouse click on a place
 label will provide the respective Wikipedia article.
 .
 Of course it's also possible to measure distances between
 locations or watch the current cloud cover. Marble offers
 different thematic maps: A classroom-style topographic
 map, a satellite view, street map, earth at night and
 temperature and precipitation maps. All maps include a
 custom map key, so it can also be used as an educational
 tool for use in class-rooms. For educational purposes you
 can also change date and time and watch how the starry sky
 and the twilight zone on the map change.
 .
 This package contains the library.

Package: libmarblewidget15-dev
Architecture: all
Section: libdevel
Depends: ${misc:Depends},
         libmarblewidget15 (= ${binary:Version})
Description: Virtual Globe and World Atlas (headers)
 Marble is a Virtual Globe and World Atlas that you can use
 to learn more about Earth: You can pan and zoom around and
 you can look up places and roads. A mouse click on a place
 label will provide the respective Wikipedia article.
 .
 Of course it's also possible to measure distances between
 locations or watch the current cloud cover. Marble offers
 different thematic maps: A classroom-style topographic
 map, a satellite view, street map, earth at night and
 temperature and precipitation maps. All maps include a
 custom map key, so it can also be used as an educational
 tool for use in class-rooms. For educational purposes you
 can also change date and time and watch how the starry sky
 and the twilight zone on the map change.
 .
 This package contains header files.
