Source: image3d
Section: graphics
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://bugs.launchpad.net/getdeb.net/+bug/1426367

Package: image3d
Architecture: all
Depends: ${misc:Depends},
         python-wand (>=0.3.5),
         imagemagick (>=6.7),
         python (>=2.7),
         hugin (>=2013.0.0)
Description: Create a 3D picture from photographs taken with an ordinary camera
 Take a set of photos of a subject and the software will create a 3D image
 from each pair of photos in the set, so that you can choose the best.
 Formats available are anaglyph (red/cyan), side-by-side and crossover.
 Several sets of photos can be processed at once.
