[Desktop Entry]
Name=Image3D
Version=1.0
Exec=/usr/share/image3d/image3d.py
Comment=A 3D image creator.
Icon=/usr/share/image3d/image3d.png
Type=Application
Terminal=false
StartupNotify=true
Categories=Graphics;
Keywords=3d
