[Desktop Entry]
Name=Popout3D
Version=1.0
Exec=/usr/share/popout3d/popout3d.py
Comment=A 3D image creator.
Icon=/usr/share/popout3d/popout3d_logo.png
Type=Application
Terminal=false
StartupNotify=true
Categories=Graphics;
Keywords=3d
