Source: pycharm
Section: editors
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               libasound2,
               libxext6 [amd64],
               libopenjfx-jni [amd64],
               libx11-6 [amd64],
               libxrender1 [amd64],
               libxtst6 [amd64],
               libxi6 [amd64],
               libgtk2.0-0 [amd64],
               libatk1.0-0 [amd64],
               libpangoft2-1.0-0 [amd64],
               libpangocairo-1.0-0 [amd64],
               libgdk-pixbuf2.0-0 [amd64],
               libcairo2 [amd64],
               libpango-1.0-0 [amd64],
               libfreetype6 [amd64],
               libfontconfig1 [amd64],
               libgl1-mesa-glx [amd64],
               libxxf86vm1 [amd64]
Standards-Version: 3.9.7
Homepage: http://www.jetbrains.com/pycharm/

Package: pycharm
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         java-openjdk7-jre | java7-runtime,
         pycharm-data (= ${source:Version}),
         python
Description: Python IDE
 Intelligent Python IDE with unique code assistance and analysis,
 for productive Python development on all levels.
 .
  - Intelligent Editor, with code completion, on-the-fly error
    highlighting, auto-fixes, etc.
  - Automated code refactorings and rich navigation capabilities
  - Integrated debugger and unit testing support
  - Native VCS integrations
  - Customizable UI and key-bindings, with VIM
  - emulation available
  - And much more, all available under the Apache 2 license

Package: pycharm-data
Architecture: all
Depends: ${misc:Depends}
Description: Python IDE (data package)
 Intelligent Python IDE with unique code assistance and analysis,
 for productive Python development on all levels.
 .
  - Intelligent Editor, with code completion, on-the-fly error
    highlighting, auto-fixes, etc.
  - Automated code refactorings and rich navigation capabilities
  - Integrated debugger and unit testing support
  - Native VCS integrations
  - Customizable UI and key-bindings, with VIM
  - emulation available
  - And much more, all available under the Apache 2 license
 .
 (This package contains the arch-independent data files).
