#!/usr/bin/make -f
%:
	dh $@

override_dh_install:
	dh_install --list-missing

	mkdir -p debian/pycharm/usr/lib/

ifeq ($(DEB_BUILD_ARCH),amd64)
	rm debian/pycharm/usr/lib/pycharm/bin/fsnotifier
	rm -f debian/pycharm-data/usr/share/pycharm/helpers/pydev/pydevd_attach_to_process/attach_linux_x86.so
	rm -f debian/pycharm-data/usr/share/pycharm/helpers/pydev/pydevd_attach_to_process/attach_linux_amd64.so
	cp ./helpers/pydev/pydevd_attach_to_process/attach_linux_amd64.so \
	   debian/pycharm/usr/lib/pycharm/
	rm -f debian/pycharm/usr/lib/pycharm/jre64/lib/amd64/libavplugin.so
else
	rm debian/pycharm/usr/lib/pycharm/bin/fsnotifier64
	rm -f debian/pycharm-data/usr/share/pycharm/helpers/pydev/pydevd_attach_to_process/attach_linux_amd64.so
	rm -f debian/pycharm-data/usr/share/pycharm/helpers/pydev/pydevd_attach_to_process/attach_linux_x86.so
	cp ./helpers/pydev/pydevd_attach_to_process/attach_linux_x86.so \
	   debian/pycharm/usr/lib/pycharm/
endif
	rm -rf debian/pycharm-data/usr/share/pycharm/lib/libpty
	rm -f debian/pycharm/usr/lib/pycharm/bin/pycharm.png
	rm -f debian/pycharm-data/usr/share/pycharm/helpers/python-skeletons/LICENSE.txt
	rm -f debian/pycharm-data/usr/share/pycharm/plugins/svn4idea/lib/ANTLR-LICENSE
	rm -f debian/pycharm-data/usr/share/pycharm/plugins/svn4idea/lib/COPYING
	rm -f debian/pycharm-data/usr/share/pycharm/plugins/svn4idea/lib/GANYMED-LICENSE
	rm -f debian/pycharm-data/usr/share/pycharm/plugins/svn4idea/lib/JAVAHL-LICENSE
	rm -f debian/pycharm-data/usr/share/pycharm/plugins/svn4idea/lib/LICENSE.txt
	rm -f debian/pycharm-data/usr/share/pycharm/plugins/svn4idea/lib/SEQUENCE-LICENSE
	rm -f debian/pycharm-data/usr/share/pycharm/plugins/svn4idea/lib/SQLJET-LICENSE
	rm -f debian/pycharm-data/usr/share/pycharm/plugins/svn4idea/lib/TRILEAD-LICENSE
	rm -f debian/pycharm/usr/lib/pycharm/bin/fsnotifier-arm
