Source: virt-manager
Section: admin
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
XSBC-Original-Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
Uploaders: Guido Günther <agx@sigxcpu.org>, Laurent Léonard <laurent@open-minds.org>
Build-Depends: debhelper (>= 9),
               python-all,
               scrollkeeper,
               intltool,
               libglib2.0-bin,
               lsb-release
Standards-Version: 3.9.5
Homepage: http://virt-manager.et.redhat.com/
X-Python-Version: 2.7

Package: virt-manager
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-gi,
         python-gi-cairo,
         python-dbus,
         python-ipaddr,
         python-urlgrabber,
         librsvg2-common,
         python-libvirt (>= 0.7.1),
         gir1.2-appindicator3-0.1,
         gir1.2-libvirt-glib-1.0,
         gir1.2-gtk-vnc-2.0,
         gir1.2-spice-client-gtk-3.0,
         gir1.2-vte-2.90,
         gir1.2-libosinfo-1.0,
         virtinst (>= ${binary:Version})
Recommends: libvirt-bin (>= 0.4.6),
            gnome-icon-theme,
            python-spice-client-gtk
Suggests: virt-viewer,
          ssh-askpass,
          gnome-keyring,
          python-gnomekeyring,
          python-guestfs
Description: desktop application for managing virtual machines
 It presents a summary view of running domains and their live performance &
 resource utilization statistics. A detailed view presents graphs showing
 performance & utilization over time. Ultimately it will allow creation of new
 domains, and configuration & adjustment of a domain's resource allocation &
 virtual hardware.  Finally an embedded VNC client viewer presents a full
 graphical console to the guest domain.
 .
 NOTE: the GUI is still considered experimental.

Package: virtinst
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         python-libvirt (>= 0.4.6),
         python-libxml2,
         python-urlgrabber,
         python-ipaddr,
         gir1.2-libosinfo-1.0
Recommends: virt-viewer, qemu
Description: Programs to create and clone virtual machines
 Virtinst is a set of commandline tools to create virtual machines using
 libvirt:
 .
 virt-install: provision new virtual machines 
 virt-clone: clone existing virtual machines
 virt-image: create virtual machines from an image description
 virt-convert: convert virtual machines between formats
 virt-xml: edit libvirt xml
