#!/usr/bin/make -f
%:
	dh $@ --with python2

override_dh_auto_clean:
	dh_auto_clean

	rm -rf build

override_dh_auto_configure:
	dh_auto_configure -- --with-qemu-user=libvirt-qemu --with-preferred-distros=ubuntu --without-tui --with-kvm-packages="qemu-system" --with-libvirt-packages-names="libvirt-bin" --with-askpass-package="ssh-askpass-gnome"

