Source: filezilla
Section: net
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: autotools-dev,
               debhelper (>= 9),
               dh-autoreconf,
               gettext,
               imagemagick,
               libdbus-1-dev,
               libfilezilla-dev (>= 0.5.2),
               libgnutls28-dev (>= 3.1.12),
               libgtk2.0-dev,
               libpugixml-dev (>= 1.5),
               libsqlite3-dev,
               libwxgtk3.0-dev,
               pkg-config,
               wx-common
Standards-Version: 3.9.7
Homepage: https://filezilla-project.org/

Package: filezilla
Architecture: any
Depends: filezilla-common (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: xdg-utils
Description: Full-featured graphical FTP/FTPS/SFTP client
 FileZilla is a full-featured FTP client with an easy-to-use GUI.
 .
 It is written in C++ and uses the wxWidgets library.
 .
 FileZilla includes the following features:
   * Supports FTP, FTP over SSL/TLS (FTPS) and SSH File Transfer Protocol (SFTP)
   * IPv6 support
   * Available in more than 40 languages
   * Supports resume and transfer of large files >4GB
   * Easy to use Site Manager and transfer queue
   * Bookmarks
   * Drag & drop support
   * Speed limits
   * Filename filters
   * Directory comparison
   * Network configuration wizard
   * Remote file editing
   * Keep-alive
   * HTTP/1.1, SOCKS5 and FTP Proxy support
   * Logging to file
   * Synchronized directory browsing
   * Remote file search
   * Tabbed interface to connect to multiple servers

Package: filezilla-common
Architecture: all
Depends: ${misc:Depends}
Replaces: filezilla (<< 3.2.7.1-1),
          filezilla-locales
Conflicts: filezilla-locales
Description: Architecture independent files for filezilla
 FileZilla is a full-featured FTP client with an easy-to-use GUI.
 .
 It is written in C++ and uses the wxWidgets library.
 .
 See the filezilla package description for the full list of features.
 .
 This package contains architecture independent files such as images and
 translations.
