Source: tvbrowser
Section: sound
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.tvbrowser.org

Package: tvbrowser
Architecture: all
Depends: ${misc:Depends},
         openjdk-8-jre | sun-java7-jre | openjdk-7-jre | default-jre
Recommends: openjdk-8-jre
Description: Digital TV Guide
 TV-Browser gets the daily TV program from the internet and shows
 it clearly aranged - like a printed TV guide.
 An internet connection is only necessary during the data update.
 .
 Note:You can not use TV-Browser to watch TV.
