#!/usr/bin/make -f
%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/gitsome/usr/lib/python3
	mv debian/gitsome/usr/lib/python3.5/dist-packages debian/gitsome/usr/lib/python3/dist-packages
	rmdir debian/gitsome/usr/lib/python3.5
	find debian/gitsome/usr/lib -type d -name __pycache__ -exec rm -r {} \; || /bin/true
	rm debian/gitsome/usr/bin/*.bat
