[Desktop Entry]
Version=1.0
Name=Aqualung
Exec=/usr/bin/aqualung
Icon=aqualung
Terminal=false
Type=Application
Categories=AudioVideo;Player;
Keywords=aqualung;music;sound;player
