Source: qwitik
Section: news
Priority: optional
Maintainer: Christoph Korn <c_korn@gmx.de>
Build-Depends: debhelper (>= 6), libqt4-dev,
 qt4-qmake, libqtwit-dev, quilt
Standards-Version: 3.8.4
Homepage: http://code.google.com/p/qwitik

Package: qwitik
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Twitter client
 Qwitik is a cross-platform client for twitter.com.
