Source: domotiga
Section: utils
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://www.domotiga.nl

Package: domotiga
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, gambas2-runtime,
 gambas2-gb-qt, gambas2-gb-form, gambas2-gb-db, gambas2-gb-db-form,
 gambas2-gb-db-mysql, gambas2-gb-desktop, gambas2-gb-form-dialog,
 gambas2-gb-form-mdi, gambas2-gb-net, gambas2-gb-net-curl,
 gambas2-gb-net-smtp, gambas2-gb-web, gambas2-gb-xml,
 gambas2-gb-xml-rpc
Description: Home Automation Software
 DomotiGa is Open Source Home Automation Software from the Netherlands.
 It is written in  Gambas Basic and runs on Linux, you can read all kinds
 of sensor values with it, let it detect motion and schedule lights at
 certain times by the use of several hardware, for example an
 RFXCom receiver, Xanura CTX35 A10/X10 controller and Midon TEMP08
 1-wire interface and more.
