#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
%:
	dh $@ --with autoreconf 

override_dh_auto_install:
	dh_auto_install
	find debian/tmp/usr/lib/*/ogmrip/ -name *.a | xargs rm
	find debian/tmp/usr/lib -name *.la | xargs rm

override_dh_auto_test:

override_dh_install:
	dh_install --list-missing

override_dh_makeshlibs:
	dh_makeshlibs -a -V \
		-Xaudio-plugins \
		-Xcontainer-plugins \
		-Xoptions-plugins \
		-Xsubp-plugins \
		-Xvideo-plugins

