Source: jdiskreport
Section: utils
Priority: optional
Maintainer: Joao Pinto <joao.pinto@getdeb.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://www.jgoodies.com/freeware/jdiskreport/

Package: jdiskreport
Architecture: all
Depends: ${misc:Depends},
         openjdk-6-jre | java-runtime
Description: Disk space usage reporting tool
 JDiskReport enables you to understand how much space the files and directories
 consume on your disk drives, and it helps you find obsolete files and folders.
