Source: chmsee
Section: text
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Original-Maintainer: LI Daobing <lidaobing@debian.org>
Build-Depends: cdbs (>= 0.4.23-1.1), cmake (>= 2.6.2), debhelper (>= 5),
 libwebkitgtk-dev, libchm-dev, libgcrypt11-dev, intltool,
 pkg-config, libglade2-dev (>= 2.4.0), libgtk2.0-dev (>= 2.8.0),
 libnspr4-dev
Standards-Version: 3.9.3
DM-Upload-Allowed: yes
Vcs-Browser: http://git.debian.org/?p=chinese/chmsee.git
Vcs-Git: git://git.debian.org/git/chinese/chmsee.git
Homepage: http://code.google.com/p/chmsee

Package: chmsee
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: chm file viewer written in GTK+
 ChmSee is a Compiled HTML Help (CHM) file viewer written in GTK+.
 .
 Features:
  * Use gecko rendering engine
  * Bookmarks
  * Support to open multiple files at once
