Source: livestreamer-ui
Section: python
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               python-setuptools (>= 0.6b3),
               python-all (>= 2.6.6-3)
Standards-Version: 3.9.3
Homepage: https://github.com/ckorn/livestreamer-ui

Package: python-livestreamer-ui
Architecture: all
Depends: ${misc:Depends},
         python-livestreamer (>= 1.5.2),
         python3-pyside.qtgui
Recommends: vlc
Description: GUI for livestreamer
 front-end program for livestreamer.
 .
 Save links of the favorite streams
 and check when they are available.
 Its also easier to open multiple streams,
 just double-click on the links (or run the command).
