Source: 2mandvd
Section: graphics
Priority: optional
Maintainer: Christoph Korn <c_korn@gmx.de>
Build-Depends: debhelper (>= 9),
               libqt4-dev,
               libqt3-headers,
               libqt3-compat-headers,
               libqt4-opengl-dev,
               libavutil-dev,
               libavcodec-dev,
               libavformat-dev,
               libswscale-dev,
               libsdl1.2-dev
Standards-Version: 3.9.3
Homepage: http://2mandvd.tuxfamily.org/

Package: 2mandvd
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ffmpeg,
         sox,
         dvdauthor,
         mjpegtools,
         netpbm,
         genisoimage,
         mplayer,
         mencoder,
         ffmpegthumbnailer,
         xine-console,
         ttf-dejavu,
         libsox-fmt-mp3,
         exif,
         imagemagick,
         2mandvd-data (= ${source:Version})
Description: Successor of ManDVD
 Utility for creating DVD videos.
 It is the successor of ManDVD.

Package: 2mandvd-data
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends}
Description: Successor of ManDVD (data files)
 Utility for creating DVD videos.
 It is the successor of ManDVD.
 .
 (This package contains the data files.)
