#!/usr/bin/make -f
%:
	dh $@ --parallel

override_dh_auto_clean:
	[ ! -f Makefile ] || $(MAKE) distclean

override_dh_auto_configure:
	qmake 2ManDVD.pro

override_dh_auto_install:

override_dh_install:
	dh_install

	[ ! -d debian/2mandvd-data ] || chmod -x debian/2mandvd-data/usr/share/2ManDVD/*.qm
	chmod -x debian/2mandvd/usr/share/pixmaps/mandvd.png
	[ ! -d debian/2mandvd-data ] || ( find debian/2mandvd-data/usr/share/2ManDVD/Bibliotheque -type f -exec chmod -x {} \; && \
	find debian/2mandvd-data/usr/share/2ManDVD/Interface -type f -exec chmod -x {} \; )
	[ ! -d debian/2mandvd-data ] || chmod +x debian/2mandvd-data/usr/share/2ManDVD/fake.pl
