Source: wibom-gtk
Section: utils
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://wibom.sourceforge.net

Package: wibom-gtk
Architecture: all
Depends: ${misc:Depends},
         ruby,
         libgtk2-ruby,
         ruby-gettext
Recommends: wine
Conflicts: wibom
Description: Wine bottle management
 Wine is the program for running applications for Microsoft Windows on
 other operating systems, primary on GNU/Linux. This program creates
 in the user's home directory a folder called .wine containing user
 preferences, the simplified version of Windows registers and files
 structure of simulated disk C:. Many Wine users don't know there
 can be more those folders coexisting. They are called bottles.
 Because of bottles it is possible to have a few isolated
 instances of “Pseudowindows” on one system.
