Source: ruby-pagoda-tunnel
Section: ruby
Priority: optional
Maintainer: GetDeb Package Ninjas <package.ninjas@getdeb.net>
Uploaders: Christoph Korn <christoph.korn@getdeb.net>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~),
               gem2deb (>= 0.2.6~)
Standards-Version: 3.9.3
Homepage: http://www.pagodabox.com
XS-Ruby-Versions: all

Package: ruby-pagoda-tunnel
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${misc:Depends},
         ruby | ruby-interpreter
Description: Pagodabox Tunnel
 Pagodabox container tunnel.
 Allows users to tunnel into
 pagodabox db's.
