#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/class/cmake.mk

DEB_SRCDIR:=./src
LDFLAGS += -W1, --as-needed

#We do not have a install target
DEB_MAKE_INSTALL_TARGET:=

clean::
	rm -rf $(CURDIR)/obj-*
	rm -f $(CURDIR)/algoscore

binary-post-install/algoscore-data::
	rm -f $(CURDIR)/debian/algoscore-data/usr/share/doc/algoscore/Help/COPYING
