[Desktop Entry]
Version=1.0
Name=Sweet Home 3D
GenericName=Interior 2D design application with 3D preview
GenericName[de]=Innenraumplaner
Comment=Interior 2D design application with 3D preview
Exec=sweethome3d
Icon=sweethome3d
StartupNotify=true
StartupWMClass=com-eteks-sweethome3d-SweetHome3D
Terminal=false
Type=Application
Categories=Graphics;2DGraphics;3DGraphics
