[Desktop Entry]
Type=Application
Name=UMLet
GenericName=UMLet
Comment=Free UML Tool for Fast UML Diagrams
Exec=umlet
Icon=umlet.xpm
Terminal=false
Categories=Development;
StartupNotify=true

