Source: idea-ic
Section: java
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 7.0.50)
Standards-Version: 3.8.3
Homepage: http://www.jetbrains.org/

Package: idea-ic
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openjdk-6-jdk | sun-java6-jdk,
 fontconfig
Description: Java IDE
 IntelliJ IDEA Community Edition is the open source version
 of IntelliJ IDEA, a premier IDE (Integrated Development
 Environment) for Java, Groovy and other programming languages.
