[Desktop Entry]
Version=1.0
Name=BlueGriffon
Exec=/usr/bin/bluegriffon
Icon=bluegriffon
Terminal=false
Type=Application
Categories=Application;Development;
