#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	#find . -type f -exec chmod 0644 {} \;
	#find . -type d -exec chmod 0755 {} \;
	chmod +x *.pl
	chmod -x pos.conf.pl.template custom.pl # FIXME: Config???
	chmod +x utils/*/*.pl utils/devel/find-use utils/pos/pos-hardware-client-startup-script \
	         utils/devel/chart-load-test.sh
	chmod -x common.pl

override_dh_auto_build:

override_dh_auto_test:

override_dh_auto_clean:

override_dh_auto_install:
	install -p ledgersmb.conf.default debian/ledgersmb/etc/ledgersmb/ledgersmb.conf
	chmod -x debian/ledgersmb/etc/ledgersmb/ledgersmb.conf

	mkdir -p -m0750 debian/ledgersmb/var/lib/ledgersmb/users
	mkdir -p -m0750 debian/ledgersmb/var/lib/ledgersmb/css
	mkdir -p -m0750 debian/ledgersmb/var/lib/ledgersmb/templates

	install -p -m 644 ledgersmb-httpd.conf.template debian/ledgersmb/etc/apache2/sites-available/ledgersmb.conf

override_dh_install:
	dh_install
	rm -rf debian/ledgersmb/usr/share/ledgersmb/locale/legacy
	find debian/ledgersmb/var/lib/ledgersmb/templates -type f -exec chmod -x {} \;
	find debian/ledgersmb/usr/share/ledgersmb/sql -type f -exec chmod -x {} \;
	find debian/ledgersmb/usr/share/ledgersmb/locale -type f -exec chmod -x {} \;
	find debian/ledgersmb/usr/share/ledgersmb/bin -type f -exec chmod -x {} \;
	find debian/ledgersmb/usr/share/ledgersmb/LedgerSMB -type f -exec chmod -x {} \;
	find debian/ledgersmb/usr -type d -empty -delete
	chmod -x debian/ledgersmb/var/lib/ledgersmb/css/*.css
	chmod -x debian/ledgersmb/usr/share/ledgersmb/favicon.ico
	chmod -x debian/ledgersmb/usr/share/ledgersmb/lsmb-request.pl
	chmod +x debian/ledgersmb/usr/share/ledgersmb/utils/process_queue/config.pl.default
	chmod +x debian/ledgersmb/usr/share/ledgersmb/sql/modules/reload_modules.sh

	chmod +x debian/ledgersmb/usr/share/ledgersmb/contrib/replication/configure-replication.sh
	chmod -x debian/ledgersmb/usr/share/ledgersmb/scripts/*.pl
	chmod +x debian/ledgersmb/usr/share/ledgersmb/tools/*.sh
	chmod +x debian/ledgersmb/usr/share/ledgersmb/tools/*.pl
	chmod -x debian/ledgersmb/usr/share/ledgersmb/LedgerSMB.pm

	chmod -x debian/ledgersmb/usr/share/ledgersmb/upgrade.pl

	for f in admin.pl customer.pl employee.pl journal.pl menu.pl recon.pl taxform.pl vendor.pl ; \
	do chmod -x debian/ledgersmb/usr/share/ledgersmb/scripts/$$f ; \
	done

	rm debian/ledgersmb/usr/share/ledgersmb/UI/ajax/scriptaculous/MIT-LICENSE

override_dh_compress:
	dh_compress -XLedgerSMB-manual.pdf

override_dh_installdocs:
	dh_installdocs
	mv debian/ledgersmb/usr/share/doc/ledgersmb/Changelog debian/ledgersmb/usr/share/doc/ledgersmb/changelog
