Source: gravit
Section: science
Priority: optional
Maintainer: Christoph Korn <christoph.korn@getdeb.net>
Build-Depends: debhelper (>= 9),
               autotools-dev,
               dh-autoreconf,
               liblua5.1-0-dev,
               libgl1-mesa-dev,
               libglu1-mesa-dev,
               libsdl1.2-dev,
               libsdl-ttf2.0-dev,
               libsdl-image1.2-dev
Standards-Version: 3.9.3
Homepage: http://gravit.slowchop.com

Package: gravit
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ttf-bitstream-vera
Description: Gravity simulator
 Gravit is a gravity simulator. It uses Newtonian physics
 using the Barnes-Hut N-body algorithm. Although the main
 goal of Gravit is to be as accurate as possible, it also
 creates beautiful looking gravity patterns. It records
 the history of each particle so it can animate and
 display a path of its travels. At any stage you can
 rotate your view in 3D and zoom in and out.
